# Build & cache
.next/
dist/
build/
.turbo/
.pnpm-store/
.cache/
coverage/

# Vendors & tools
node_modules/
.vercel/
.swc/
.parcel-cache/

# Env & local
.env
.env.*
.env.local

# OS/IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log
